/* --------------------------------

Nucleo Outline Web Font - nucleoapp.com/
License - nucleoapp.com/license/
Created using IcoMoon - icomoon.io

-------------------------------- */

@font-face {
  font-family: 'Montserrat';
  src: url('../../../../fonts/Montserrat-Light.otf');
  font-weight: normal;
  font-style: normal;
}
