.data-section-midle-row {
    width: 47.6%;
    padding: 1%;
    margin: 1.2%;
}

.data-section-full-row {
    width: 100%;
    border-radius: 5px;
    background-color: white;
}

.active-users-chart {
    background-color: #1e3d60;
    border-radius: 5px;
}

.active-users-canvas {
    height: 250px;
}
